<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
    <% @categories.each do |cat| %>
        <div class="post-preview">
          <a href= <%= category_path(cat) %>>
            <h2 class="post-title">
              <%= cat.name %>
            </h2>
          </a>
          <p class="post-meta"> <%= cat.count_blogs %>
            <a href="#" onclick="return false;"><%= "" %></a>
            <%= "" %>
            </p>
        </div>
        <hr>
      <% end %>
      

    </div>
  </div>
</div>

<hr>